<header>Rooms</header>

<div class="page-content">
  <ul>
    <% @rooms.each do |room| %>
      <li>
        <%= link_to room.title, room %>
        <%= link_to 'Edit', edit_room_path(room) %>
        <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>


  <br>

  <%= link_to 'New Room', new_room_path %>
</div>